//%---Portrait Smartphone
//%---Max Width 575.99 px
@media (max-width: 575.98px) {
  body {
    #myHeader {
      #headlineBox {
        height: 50%;
        h1 {
          z-index: 1;
        }
      }
      #borderBottomHeadline {
        display: none;
      }
      nav {
        height: 50%;
        #navCollapseBtn {
          position: absolute;
          top: 0;
        }
        .container {
          .collapse {
            form {
              #srcBtn {
                width: 80%;
                margin-top: 3%;
              }
              #searchCoin {
                width: 80%;
              }
            }
          }
        }
      }
    }
    #innerContent {
      #mainSctn {
        .container-fluid {
          .row {
            div#buttonBox {
              width: 80%;
              margin-top: 5px;
              right: 10%;
              font-size: 0.7em;
            }
            #boxOfAllCards {
              padding: 0 10% 0 10%;
              .myCardBox {
                width: 100%;
              }
            }
          }
        }
      }
      
      #InfoSctn {
        width: 100%;
        left: 0;
        #contactMe {
          top: 14%;
          right: 25%;
          font-size: 1.5em;
          margin-left: 2%;
          border: 1px solid black;
        }
        #student {
          text-align: left;
          padding-top: 0.5%;
          width: 80%;
          top: 0;
          left: 23%;
          font-size: 1.5em;
          font-weight: bold;
          letter-spacing: 2px;
          span {
            &:nth-child(1) {
              font-style: italic;
              color: rgb(7, 6, 73);
            }
            &:nth-child(3) {
              font-size: 0.8em;
            }
          }
        }
        #quickOverview {
          top: 21.5%;
          left: 10%;
        }
        #tech {
          top: 21.5%;
          right: 10%;
          width: 40%;
        }
      }
      #chartWindow {
        #canvasBox {
          width: 85%;
          margin: 0 auto;
          padding: 1% 0 1.5%;
        }
      }
    }
    #searchBoxSctn {
      #mySpecialSrcBox {
        left: 15%;
        width: 70%;
        z-index: 2;
        h2 {
          font-size: 1.3rem;
          top: 13%;
          left: 7%;
          line-height: 100%;
        }
        h3 {
          font-size: 1.2rem;
          top: 29%;
          left: 7%;
          line-height: 100%;
        }
        button {
          font-size: 1.3rem;
        }
        #extraInfo {
          height: 47%;
          z-index: 2;
          #currPrice {
            h4 {
              font-size: 1.3rem;
            }
            div#text {
              font-size: 1rem;
              padding: 1% 0;
              letter-spacing: 1px;
            }
          }
          #coinImgBox {
            #currCoinImg {
              width: 65px;
              height: 65px;
              margin: 35% auto;
            }
          }
        }
      }
    }
  }
}

//%---Tablet---
//%---Min-Width: 576px Max-Width 767.99
@media (min-width: 576px) and (max-width: 767.99px) {
  body {
    #myHeader {
      #headlineBox {
        height: 50%;
      }
      nav {
        height: 50%;
        #navCollapseBtn {
          top: 0;
          left: 10%;
        }
        .container {
          .collapse {
            form {
              #searchCoin {
                width: 40%;
              }
              #srcBtn {
                width: 40%;
              }
            }
          }
        }
      }
    }
    #innerContent {
      #mainSctn {
        .container-fluid {
          .row {
            div#buttonBox {
              width: 65%;
              margin-top: 5px;
              right: 17.5%;
            }
            #boxOfAllCards {
              width: 80%;
              padding: 0 10% 0 10%;
              .myCardBox {
                width: 48%;
              }
            }
          }
        }
      }
      
      #InfoSctn {
        margin: 0.5% auto;
        width: 100%;
        left: 0;

        #contactMe {
          top: 14%;
          right: 25%;
          font-size: 1.5em;
          margin-left: 2%;
          border: 1px solid black;
        }
        #student {
          text-align: left;
          padding-top: 0.5%;
          width: 80%;
          top: 0;
          left: 23%;
          font-size: 1.5em;
          font-weight: bold;
          letter-spacing: 2px;
          span {
            &:nth-child(1) {
              font-style: italic;
              color: rgb(7, 6, 73);
            }
            &:nth-child(3) {
              font-size: 0.9em;
            }
          }
        }
        #quickOverview {
          top: 21.5%;
          left: 10%;
        }
        #tech {
          top: 21.5%;
          right: 10%;
          width: 40%;
        }
      }
      #chartWindow {
        #canvasBox {
          width: 80%;
          margin: 0 auto;
          padding: 1% 0 1.5%;
        }
      }
    }
    #searchBoxSctn {
      #mySpecialSrcBox {
        left: 20%;
        height: 65%;
        width: 60%;
        border-radius: 25px;
        z-index: 2;
        .colorBoxes {
          height: 25%;
          width: 20%;
        }
        h2 {
          font-size: 1.5rem;
          top: 10%;
          left: 7%;
          line-height: 100%;
        }
        h3 {
          font-size: 1.3rem;
          top: 29%;
          left: 7%;
          line-height: 100%;
        }
        button {
          letter-spacing: 1rem;
          font-size: 1.3rem;
          bottom: 5%;
          right: 7.5%;
          left: 7.5%;
          padding: 3% 5%;
        }
        #extraInfo {
          height: 47%;
          z-index: 2;
          #currPrice {
            h4 {
              font-size: 1.3rem;
            }
            div#text {
              font-size: 1rem;
              padding: 1% 0;
              letter-spacing: 1px;
            }
          }
          #coinImgBox {
            #currCoinImg {
              width: 65px;
              height: 65px;
              margin: 35% auto;
            }
          }
        }
      }
    }
  }
}
//%---Normal/Desktops/Landscape Smartphone
//%---Min-Width: 768px Max-Width 1199.99px
@media (min-width: 768px) and (max-width: 1199.99px) {
  body {
    #myHeader {
      nav {
        div.container {
          div.collapse {
            padding-right: 13vw;
          }
        }
      }
    }
    #innerContent {
      #mainSctn {
        .container-fluid {
          .row {
            div#buttonBox {
              width: 60%;
              margin-top: 5px;
              right: 20%;
              #checkSwitch {
                label {
                  font-size: 2.2em;
                  color: rgb(253, 253, 253);
                }
              }
            }
            #boxOfAllCards {
              overflow-x: hidden;
              position: relative;
              width: 100%;
              top: 5%;
              height: 83%;
              z-index: 1;
              padding: 0 5% 0 5%;
              &::-webkit-scrollbar {
                width: 2em;
              }
              .myCardBox {
                border: 2px solid rgb(11, 6, 63);
                width: 31.5%;
                margin-bottom: 2%;
                background-color: rgba(235, 220, 157, 0.45);
                .card-body {
                  h5 {
                    font-size: 2.5em;
                  }
                  p {
                    font-size: 1.5em;
                  }
                  .collapse {
                    .accordion {
                      .card {
                        .card-body {
                          background-color: rgba(32, 140, 190, 0.35);
                          img {
                            width: 50%;
                          }
                          h5 {
                            width: 100%;
                            clear: both;
                            font-size: 1.5rem;
                            letter-spacing: 1px;
                          }
                          p {
                            background-color: rgba(0, 0, 0, 0.25);
                            font-size: 1.2rem;
                            letter-spacing: 1px;
                            span {
                              font-size: 1.3rem;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      
      #InfoSctn {
        margin: 0.5% auto;
        left: 2.5%;
        width: 95%;
        #contactMe {
          top: 8%;
          right: 1%;
          font-size: 1.5em;
          font-weight: bold;
          margin-left: 2%;
          border: 1px solid black;
        }
        #student {
          text-align: left;
          padding-top: 0.5%;
          width: 70%;
          top: 0;
          left: 23%;
          font-size: 1.8em;
          font-weight: bold;
          letter-spacing: 2px;
          span {
            &:nth-child(1) {
              font-style: italic;
              color: rgb(7, 6, 73);
            }
            &:nth-child(3) {
              font-size: 0.9em;
            }
          }
        }
      }
    }
    #searchBoxSctn {
      #mySpecialSrcBox {
        left: 25%;
        height: 65%;
        width: 50%;
        border-radius: 25px;
        z-index: 2;
        .colorBoxes {
          height: 25%;
          width: 20%;
        }
        h2 {
          font-size: 2rem;
          top: 10%;
          left: 10%;
        }
        h3 {
          font-size: 1.5rem;
          top: 25%;
          left: 10%;
        }
        button {
          letter-spacing: 1rem;
          font-size: 1.5rem;
          bottom: 5%;
          right: 7.5%;
          left: 7.5%;
          padding: 3% 5%;
        }
        #extraInfo {
          height: 47%;
          z-index: 2;
          #currPrice {
            h4 {
              font-size: 1.5rem;
            }
            div#text {
              font-size: 1.2rem;
              padding: 1% 0;
              letter-spacing: 2px;
            }
          }
          #coinImgBox {
            #currCoinImg {
              width: 75px;
              height: 75px;
              margin: 25% auto;
            }
          }
        }
      }
    }
  }
}
//%---Widescreen---
//%---Min-Width: 1200px
@media (min-width: 1200px) {
  body {
    #myHeader {
      #headlineBox {
        z-index: 0;
        h1 {
          font-size: 6em;
          padding: 0.6% 0% 2% 1.5%;
        }
      }
    }
  }
}
