@import url('https://fonts.googleapis.com/css?family=Fira+Sans:500,500i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bellota+Text:400,400i,700,700i|Rubik&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.myBTN {
  font-size: 1.8em;
  color: rgb(245, 245, 245);
  background-color: rgba(10, 5, 80, 0.35);
  border: 1px solid rgb(255, 255, 255);
  &:hover {
    color: rgb(17, 9, 58);
    background-color: rgba(210, 209, 219, 0.35);
    border: 1px solid rgb(17, 9, 58);
  }
}
body {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 auto;
  font-size: 10px;
  background-image: url('../image/1519160.jpg');
  background-size: cover;
  &::-webkit-scrollbar {
    width: 2em;
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(66, 75, 128, 0.342);
    box-shadow: inset 0 0 10px rgba(230, 245, 218, 0.3);
    border: 2px solid rgba(10, 5, 80, 0.35);
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(9, 15, 112, 0.295);
    outline: 1px solid slategrey;
    border: 3px solid rgba(204, 202, 226, 0.75);
    border-radius: 5px;
  }
  #myHeader {
    position: relative;
    z-index: 0;
    color: rgb(0, 0, 0);
    height: 182px;
    #headlineBox {
      position: relative;
      height: 60%;
      background-color: rgba(59, 21, 21, 0.65);
      h1 {
        color: blanchedalmond;
        margin-bottom: 0;
        text-shadow: 2px 2px 2px rgb(66, 177, 2);
        letter-spacing: 3px;
        font-family: 'Bellota Text', cursive;
        font-style: italic;
        font-size: 4.6em;
      }
    }
    #borderBottomHeadline {
      border-bottom: 3px solid rgb(24, 0, 0);
      z-index: -2;
      margin-right: 100px;
    }
    #borderLeftImg {
      border-left: 3px solid rgb(24, 0, 0);
      position: absolute;
      top: 0;
      right: 100px;
      height: 130px;
      z-index: -1;
    }
    #imgBox {
      float: right;
      position: absolute;
      border-bottom: 3px solid rgb(24, 0, 0);
      top: 30px;
      right: 0;
      width: 100px;
      height: 100px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    nav {
      z-index: -2;
      height: 40%;
      border-bottom: 1px solid rgb(255, 255, 255);
      background-color: rgba(245, 245, 245, 0.55);
      div.container {
        #navCollapseBtn {
          z-index: 3;
        }
        div.collapse {
          z-index: 2;
          ul {
            li {
              :hover {
                background-color: rgba(10, 5, 80, 0.35);
                color: rgb(245, 245, 245);
              }
              a {
                font-size: 1.8em;
                color: rgb(17, 9, 58);
              }
            }
          }
        }
      }
    }
  }
  #innerContent {
    position: relative;
    width: 100%;
    height: 671px;
    padding: 0.5% 0 0 0;
    border-bottom: 1px solid black;
    background-image: linear-gradient(
      to bottom right,
      rgba(29, 250, 9, 0.55),
      rgba(32, 140, 190, 0.65),
      rgba(223, 12, 12, 0.7)
    );
    #sctn1 {
      width: 100%;
      position: relative;
      .container-fluid {
        .row {
          div#buttonBox {
            position: absolute;
            width: 40%;
            display: flex;
            justify-content: space-around;
            right: 30%;
            #checkSwitch {
              display: inline;
              label {
                font-size: 2em;
                color: rgb(253, 253, 253);
              }
              input#exampleCheck1 {
                margin: 10px 0 0 5px;
              }
            }
          }
          #boxOfAllCards {
            overflow-x: hidden;
            position: relative;
            width: 100%;
            top: 5%;
            height: 83%;
            z-index: 1;
            padding: 0 5% 0 5%;
            &::-webkit-scrollbar {
              width: 2em;
            }
            &::-webkit-scrollbar-track {
              background-color: rgba(66, 75, 128, 0.342);
              box-shadow: inset 0 0 10px rgba(230, 245, 218, 0.3);
              border: 2px solid rgba(10, 5, 80, 0.35);
              border-radius: 5px;
            }
            &::-webkit-scrollbar-thumb {
              background-color: rgba(45, 187, 17, 0.295);
              outline: 1px solid slategrey;
              border: 3px solid rgba(204, 202, 226, 0.75);
              border-radius: 5px;
            }

            .loader {
              
              border: 16px solid #f3f3f3;
              border-radius: 50%;
              border-top: 16px solid #3498db;
              width: 120px;
              height: 120px;
              animation: spin 2s linear infinite;
            }
            @keyframes spin {
              0% { transform: rotate(0deg); }
              100% { transform: rotate(360deg); }
            }

            #parallaxImg {
              position: absolute;
              width: 100%;
              top: 100%;
              height: 50%;
              background-image: url('../image/1519129.jpg');
              background-attachment: fixed;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
            }
            .myCardBox {
              border: 2px solid rgb(11, 6, 63);
              width: 31.5%;
              margin-bottom: 2%;
              background-color: rgba(235, 220, 157, 0.45);
              .card-body {
                h5 {
                  font-size: 2.5em;
                }
                p {
                  font-size: 1.5em;
                }
                button {
                  &:hover {
                    color: rgb(17, 9, 58);
                    background-color: rgba(219, 115, 115, 0.35);
                    border: 1px solid rgb(17, 9, 58);
                  }
                }
                .collapse {
                  z-index: 2;
                  .accordion {
                    .card {
                      .card-body {
                        background-color: rgba(32, 140, 190, 0.35);
                        img {
                          width: 50%;
                          margin: 0 auto;
                        }
                        h5 {
                          width: 100%;
                          padding-top: 5%;
                          clear: both;
                          font-size: 1.8rem;
                          font-weight: bold;
                          letter-spacing: 1px;
                        }
                        p {
                          clear: both;
                          background-color: rgba(0, 0, 0, 0.25);
                          font-size: 1.2rem;
                          letter-spacing: 1px;
                          span {
                            font-weight: bold;
                            font-size: 1.3rem;
                          }
                          #spn1 {
                            color: red;
                          }
                          #spn3 {
                            color: rgb(21, 255, 0);
                          }
                          #spn5 {
                            color: rgb(4, 0, 255);
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          nav {
            margin-top: 0.5%;
            position: absolute;
            bottom: 2%;
          }
        }
      }
    }
    #sctn2 {
      position: absolute;
      margin: 0 auto;
      width: 70%;
      height: 70%;
      right: 15%;
      top: 0;
      z-index: -1;
      #mySpecialSrcBox {
        display: flex;
        flex-wrap: wrap;
        font-family: 'Fira Sans';
        position: relative;
        background-image: url('../image/bitcoin-4728496_1920.jpg');
        background-size: cover;
        background-position: center;
        top: 0;
        left: 25%;
        height: 65%;
        width: 50%;
        border: 10px double blue;
        border-radius: 25px;
        z-index: 2;
        .colorBoxes {
          height: 25%;
          width: 20%;
        }
        #boxColor1 {
          background-color: rgba(228, 198, 26, 0.45);
          border-top-left-radius: 15px;
        }
        #boxColor2 {
          background-color: rgba(100, 228, 26, 0.35);
        }
        #boxColor3 {
          background-color: rgba(26, 73, 228, 0.35);
        }
        #boxColor4 {
          background-color: rgba(181, 26, 228, 0.35);
        }
        #boxColor5 {
          background-color: rgba(236, 114, 13, 0.45);
          border-top-right-radius: 15px;
        }
        #boxColor6 {
          background-color: rgba(221, 76, 76, 0.55);
        }
        #boxColor7 {
          background-color: rgba(58, 225, 231, 0.45);
        }
        #boxColor8 {
          background-color: rgba(7, 36, 90, 0.45);
        }
        #boxColor9 {
          background-color: rgba(147, 228, 171, 0.45);
        }
        #boxColor10 {
          background-color: rgba(236, 55, 155, 0.45);
        }
        #boxColor11 {
          background-color: rgba(18, 102, 15, 0.45);
        }
        #boxColor12 {
          background-color: rgba(94, 208, 223, 0.35);
        }
        #boxColor13 {
          background-color: rgba(26, 73, 228, 0.35);
        }
        #boxColor14 {
          background-color: rgba(19, 77, 4, 0.35);
        }
        #boxColor15 {
          background-color: rgba(179, 86, 11, 0.45);
        }
        #boxColor16 {
          background-color: rgba(151, 26, 26, 0.55);
          border-bottom-left-radius: 15px;
        }
        #boxColor17 {
          background-color: rgba(11, 119, 122, 0.45);
        }
        #boxColor18 {
          background-color: rgba(172, 236, 68, 0.45);
        }
        #boxColor19 {
          background-color: rgba(10, 55, 138, 0.45);
        }
        #boxColor20 {
          background-color: rgba(236, 55, 155, 0.45);
          border-bottom-right-radius: 15px;
        }

        i#myCloseIcon {
          position: absolute;
          color: rgb(0, 0, 0);
          text-shadow: 2px 2px 5px rgb(30, 212, 45);
          left: 2%;
          top: 1%;
          cursor: pointer;
          z-index: 1;
          &:hover {
            color: rgba(214, 16, 16, 0.55);
            text-shadow: 2px 2px 8px rgb(2, 2, 8);
          }
        }
        h2 {
          position: absolute;
          width: 80%;
          font-size: 2rem;
          margin: 0 auto;
          font-style: italic;
          color: rgb(12, 13, 36);
          text-shadow: 2px 2px 3px rgb(114, 6, 6);;
          top: 10%;
          left: 10%;
          span {
            font-weight: bold;
            font-style: normal;
          }
        }
        h3 {
          position: absolute;
          width: 85%;
          font-size: 1.5rem;
          top: 25%;
          left: 10%;
          font-style: italic;
          color: rgb(12, 13, 36);
          text-shadow: 2px 2px 3px rgb(114, 6, 6);
          span {
            font-weight: bold;
            font-style: normal;
          }
        }
        button {
          position: absolute;
          width: 85%;
          letter-spacing: 1rem;
          font-size: 1.5rem;
          bottom: 5%;
          right: 7.5%;
          left: 7.5%;
          padding: 3% 5%;
        }
        #extraInfo {
          display: block;
          position: absolute;
          width: 100%;
          top: 53%;
          background-image: url('../image/bitcoin-3029371_640.jpg');
          background-repeat: no-repeat;
          background-size: cover;
          // left: 5%;
          height: 47%;
          border: 1px solid black;
          border-bottom-right-radius: 15px;
          border-bottom-left-radius: 15px;
          z-index: 2;
          .insideBox {
            position: relative;
            height: 100%;
            float: left;
            // z-index: 3;
          }
          #currPrice {
            width: 66.66%;
            #boxColor21 {
              float: left;
              width: 33.33%;
              height: 100%;
              background-color: rgba(224, 211, 17, 0.459);
              border-bottom-left-radius: 15px;
            }
            #boxColor22 {
              float: left;
              width: 33.33%;
              height: 100%;
              background-color: rgba(99, 223, 17, 0.35);
            }
            #boxColor23 {
              float: left;
              width: 33.33%;
              height: 100%;
              background-color: rgba(11, 25, 212, 0.45);
            }
            h4 {
              width: 100%;
              height: 30%;
              position: absolute;
              margin-bottom: 0;
              font-size: 1.7rem;
              color: rgb(0, 0, 0);
              background-color: rgba(70, 221, 214, 0.35);
              letter-spacing: 1px;
              text-shadow: 2px 2px 2px rgb(255, 255, 255);
              
            }
            div#text {
              width: 100%;
              height: 70%;
              position: absolute;
              top: 30%;
              font-size: 1.2rem;
              padding: 1% 0;
              text-align: center;
              letter-spacing: 2px;
              color: rgb(215, 216, 228);
              background-color: rgba(0, 0, 0, 0.35);
              text-shadow: 2px 2px 2px rgb(39, 6, 6);
            }
            p {
              margin-block-start: 0;
              margin-block-end: 0;
            }
          }
          #coinImgBox {
            width: 33.33%;
            border-bottom-right-radius: 15px;
            #currCoinImg {
              background-image: url('../image/110.gif');
              background-color: rgba(255, 255, 255, 0.45);
              background-size: cover;
              border: 5px solid rgb(255, 255, 255);
              width: 100px;
              height: 100px;
              margin: 10% auto;
            }
          }
        }
      }
    }
    #chartWindow {
      position: absolute;
      width: 100vw;
      height: 65vh;
      top: 1vh;
      bottom: 1vh;
      z-index: -1;
      #canvasBox {
        background-color: rgba(255, 255, 255, 0.8);
        width: 60%;
        height: 80%;
        margin: 0 auto;
        padding: 1% 0 1.5%;
      }
    }
    #InfoSctn {
      // visibility: hidden;
      overflow-y: scroll;
      position: absolute;
      margin: 0.5% auto;
      left: 7.5%;
      top: 0;
      width: 85%;
      height: 99%;
      border: 1px solid rgb(0, 0, 0);
      z-index: -1;
      background-color: rgba(210, 209, 219, 0.75);
      img {
        position: absolute;
        top: 2%;
        left: 2%;
        width: 20%;
        border: 2px solid rgb(17, 9, 58);
        border-radius: 50%;
      }
      #contactMe {
        position: absolute;
        top: 42%;
        font-size: 1.8em;
        font-weight: bold;
        margin-left: 2%;
        a {
          color: blue;
          text-decoration: underline;
        }
      }
      #student {
        position: absolute;
        text-align: center;
        padding-top: 0.5%;
        width: 70%;
        top: 0;
        left: 23%;
        font-size: 2.5em;
        font-weight: bold;
        letter-spacing: 2px;
        span {
          &:nth-child(1) {
            font-style: italic;
            color: rgb(7, 6, 73);
          }
          &:nth-child(3) {
            font-size: 0.8em;
          }
        }
      }
      #quickOverview {
        position: absolute;
        width: 40%;
        top: 15%;
        right: 37%;
        padding: 1%;
        border: 1px solid rgb(11, 6, 63);
        font-size: 1.7em;
      }
      #tech {
        position: absolute;
        width: 35%;
        top: 15%;
        right: 1%;
        padding: 1%;
        border: 1px solid rgb(11, 6, 63);
        font-size: 1.7em;
        div {
          float: left;
          &:nth-child(1) {
            span {
              font-weight: bold;
              font-size: 1.1em;
            }
          }
          &:nth-child(2) {
            margin-left: 5%;
            ul {
              list-style-position: inside;
              ul {
                padding-left: 5%;
              }
            }
          }
        }
      }
    }
  }
  .modal-backdrop {
    z-index: 1;
  }
  #myFooter {
    position: relative;
    width: 100%;
    bottom: 0;
    background-color: rgba(100, 228, 26, 0.35);
    p {
      letter-spacing: 0.1em;
      font-size: 2.5em;
      color: white;
      font-style: italic;
      text-shadow: 2px 2px 2px rgb(10, 18, 94);
      &::first-letter {
        font-size: 1.2em;
      }
      .footerSpan {
        color: rgb(6, 198, 231);
      }
    }
  }
}
